name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      
      - name: Verify GCC Installation
        run: g++ --version
          
      - name: Build C++ library
        run: g++ -fPIC -shared -o ./python/mymodule/mylib/mylib.so ./cpp/src/mylib.cpp        

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r ./python/requirements.txt

      - name: Run Python tests
        run: pytest -q